body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
    /*---------- Header --------- */

.header {
    width: 1440px;
    height: 72px;
}

.navigation {}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-web {
    color: #4d5ae5;
}

.menu {}

.menu-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {}

.contacts-list {}

.contacts-item {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.main {}

/*---------- Hero --------- */

.hero-section {
    background-size: cover;
    background-position: center;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #2e2f42;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    /* line-height: 60px; */
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}

.button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

/*---------- Advantages --------- */

.advantages-section {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.advantages-list {}

.advantages-item {}

.advantages-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------- Team --------- */

.team-section {
    background: #f4f4fd;
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    /* line-height: 40px; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-images {}

.team-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*---------- Portfolio --------- */

.portfolio-section {}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    /* line-height: 40px; */
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {}

.portfolio-item {
    background: #fff;
}

.portfolio-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------- Footer --------- */

.footer {
    background: #2e2f42;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.logo-web {
    color: #4d5ae5;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}